// .about--image //col-1-of-3
// .about--text // col-2-of-3

.about__container {
    animation: fadeIn 3.5s ease-out;
    font-size: 1.6rem;
    margin: 15rem;
    // position: absolute;
    // width: 100vw;
    
    .about {
        max-width: 114rem;
        background-color: grey; // todo: testing only
        margin: 0 auto;
        margin-top: 15rem;
        
        &--image {
            width: calc(100% / 3);
            
            img {
                width: 100%;
            }
        }
        
        &--text {
            width: calc(2 * (100% / 3));
            text-align: center;
            padding: 5rem;

            box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.25);
            // overflow: scroll;

            h1 {
                margin-bottom: 2.5rem;
            }
        }
    }

    @include clearfix;
    // &::after {
    //     content: "";
    //     display: table;
    //     clear: both;
    // }

    [class^="about--"] {
        float: left;
        // position: relative;

    }
}