@keyframes bounce {
  0% {
    transform: translate(0); }
  25% {
    transform: translateY(1rem); }
  50% {
    transform: translate(0); }
  75% {
    transform: translateY(1rem); }
  100% {
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes openMenu {
  0% {
    transform: translateX(10rem); }
  100% {
    transform: translate(0); } }

@keyframes closeMenu {
  100% {
    display: inline-block;
    transform: translateX(10rem); }
  0% {
    transform: translate(0);
    display: none; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }

.inactive {
  display: none; }

.active {
  display: inline-block; }

.footer {
  font-size: 1.6rem;
  text-align: center;
  margin: 5rem auto; }

/* todo: animation transform y on nav and logo on hover */
/* todo: animation-fill-mode to backwards */
.hero__container {
  height: 100vh;
  background-image: url("../images/plants.png");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem; }
  .hero__container .hero {
    color: #FEFEFE;
    animation: fadeIn 4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .hero__container .hero--primary {
      font-family: 'Playfair Display';
      font-size: 8rem;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 100%; }
    .hero__container .hero--secondary {
      font-family: 'Montserrat';
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 100%; }
      .hero__container .hero--secondary > span:not(:first-child) {
        color: #b3b3b3; }
      .hero__container .hero--secondary > span:nth-child(2) {
        margin: 0 1rem; }
    .hero__container .hero--arrow {
      position: relative;
      top: 5rem;
      font-size: 5rem;
      font-weight: 100; }
      .hero__container .hero--arrow:hover {
        cursor: pointer;
        animation: bounce 1s ease-in-out; }

/* @media screen and (orientation: portrait) {
    
} */
.mobile__navbar {
  display: block;
  top: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  animation: fadeIn 4s ease-out; }
  .mobile__navbar__container {
    margin: 3rem;
    min-width: 55rem; }
  .mobile__navbar__logo {
    float: left;
    transform: translateY(-0.7rem); }
  .mobile__navbar .mobile__menu.active {
    font-size: 1.6rem;
    height: 100vh;
    width: 40rem;
    float: right;
    animation-name: openMenu;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    .mobile__navbar .mobile__menu.active::after {
      content: "";
      display: table;
      clear: both; }
    .mobile__navbar .mobile__menu.active ul {
      list-style: none;
      margin-top: 5rem; }
      .mobile__navbar .mobile__menu.active ul a {
        display: block;
        text-decoration: none;
        padding: 3rem;
        text-align: center; }
  .mobile__navbar--about .mobile__menu.active {
    background: #1E1E1E; }
    .mobile__navbar--about .mobile__menu.active a {
      color: #FEFEFE;
      border-bottom: 0.5px solid #636363; }
  .mobile__navbar--home .mobile__menu.active {
    background: #FEFEFE; }
    .mobile__navbar--home .mobile__menu.active a {
      color: #1E1E1E;
      border-bottom: 0.5px solid rgba(30, 30, 30, 0.22); }

.hamburger, .close {
  float: right;
  transform: translateY(1rem);
  z-index: 2; }

@media screen and (max-width: 768px) {
  .mobile__navbar .mobile__menu.active {
    width: 25rem; } }

@media screen and (min-width: 1024px) {
  .mobile__navbar {
    display: none; } }

.navbar__container {
  display: block;
  top: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  animation: fadeIn 4s ease-out; }

.navbar--home a {
  color: #FEFEFE; }
  .navbar--home a:hover {
    box-shadow: 0 2px 0 #fefefe;
    transition: box-shadow 0.3s ease-in-out; }

.navbar--about a {
  color: #636363; }
  .navbar--about a:hover {
    box-shadow: 0 2px 0 #636363;
    transition: box-shadow 0.3s ease-in-out; }

.navbar {
  margin: 3rem;
  min-width: 55rem; }
  .navbar--logo {
    float: left;
    transform: translateY(-0.7rem); }
  .navbar--menu {
    list-style: none;
    float: right;
    min-width: 46rem;
    font-size: 1.6rem;
    margin: 2rem; }
    .navbar--menu li {
      display: inline-block;
      margin-left: 3rem; }
      .navbar--menu li a {
        text-decoration: none;
        text-transform: uppercase; }

.projects__container {
  font-size: 1.6rem;
  margin: 3rem; }
  .projects__container .project {
    max-width: 114rem;
    margin: 10rem auto; }
    .projects__container .project--description {
      z-index: 1; }
      .projects__container .project--description h3 {
        font-size: 3rem;
        line-height: 4.5rem;
        margin-bottom: 1rem; }
      .projects__container .project--description .u-box-shadow {
        background-color: #FEFEFE;
        padding: 2.5rem; }
        .projects__container .project--description .u-box-shadow .project-card-footer {
          display: inline-block;
          width: 100%; }
          .projects__container .project--description .u-box-shadow .project-card-footer ul {
            list-style: none;
            float: left; }
            .projects__container .project--description .u-box-shadow .project-card-footer ul li {
              border: 1px solid #636363;
              color: #636363;
              display: inline-block;
              padding: .3rem 1rem;
              margin: 2.5rem 2.5rem 0 0; }
          .projects__container .project--description .u-box-shadow .project-card-footer svg {
            float: right;
            margin: 2.5rem 1rem 0 2.5rem;
            right: 0; }
    .projects__container .project:nth-child(2) {
      display: flex;
      flex-direction: row-reverse; }
      .projects__container .project:nth-child(2) .project--image {
        margin-left: 6rem;
        right: 5rem; }
      .projects__container .project:nth-child(2) .project--description {
        left: 5rem; }
        .projects__container .project:nth-child(2) .project--description .u-box-shadow {
          box-shadow: -1.5rem 1.5rem 3rem rgba(30, 30, 30, 0.25); }
    .projects__container .project:not(:nth-child(2)) .project--image {
      margin-right: 6rem;
      left: 5rem; }
    .projects__container .project:not(:nth-child(2)) .project--description {
      right: 5rem; }
      .projects__container .project:not(:nth-child(2)) .project--description .u-box-shadow {
        box-shadow: 1.5rem 1.5rem 3rem rgba(30, 30, 30, 0.25); }
    .projects__container .project:not(:nth-child(2)) h3 {
      text-align: right; }
    .projects__container .project::after {
      content: "";
      display: table;
      clear: both; }
    .projects__container .project [class^="project--"] {
      position: relative;
      width: calc((100% - 6rem) / 2);
      float: left; }
      .projects__container .project [class^="project--"] img {
        width: 100%; }

.about__container {
  animation: fadeIn 3.5s ease-out;
  font-size: 1.6rem;
  margin: 15rem; }
  .about__container .about {
    max-width: 114rem;
    background-color: grey;
    margin: 0 auto;
    margin-top: 15rem; }
    .about__container .about--image {
      width: calc(100% / 3); }
      .about__container .about--image img {
        width: 100%; }
    .about__container .about--text {
      width: calc(2 * (100% / 3));
      text-align: center;
      padding: 5rem;
      box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.25); }
      .about__container .about--text h1 {
        margin-bottom: 2.5rem; }
  .about__container::after {
    content: "";
    display: table;
    clear: both; }
  .about__container [class^="about--"] {
    float: left; }
