.about {
    // background-color: grey; // todo: testing only
    font-size: 1.6rem;
    animation: fadeIn 3.5s ease-out;
    margin: 5rem auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.25);

    max-width: 102rem;

    &__image {
        flex: 0 0 30%;
        // todo: image to fill box completely
    }
    
    &__text {
        // background-color: rgb(177, 60, 18);
        padding: 5rem;
        flex: 1;
        // max-width: 55rem;
        
        &--primary {
            // background-color: rgb(127, 129, 122);
            text-align: center;

            margin: 2rem 0;
        }
        
        // &--secondary {
        // }
    }
}