/* todo: animation transform y on nav and logo on hover */
/* todo: animation-fill-mode to backwards */
// tablet 768 x 1024

.hero {
    height: 100vh;
    background-image: url('../images/plants.png');
    background-size: cover;
    background-position: top;
}

.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FEFEFE;
    backface-visibility: hidden;
    text-align: center;
    animation: fadeIn 4s ease-out;

}

.hero__primary {
    font-family: 'Playfair Display';
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__secondary {
    font-weight: 400;
    color: #999999;
}

/* .hero-secondary > span {
    display: flex;
    justify-content: space-between;
} */

.hero__secondary > span:first-child {
    color: #fefefe;
}


.hero__arrow {
    margin-top: 5rem;
    font-size: 5rem;
    justify-content: center;
    display: flex;
    transform: rotate(-180deg);
    font-weight: 100;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 667px){
    .hero__primary {
        font-size: 4.5rem;
        font-weight: 400;
    }

    .hero__secondary {
        font-size: 1.6rem;
        font-style: normal;
        justify-content: center;
    }

    // .hero__secondary > span:nth-of-type(1) {
    //     display: block;
    // }

    // .hero__secondary > span:nth-of-type(2) {
    //     display: none;
    // }
    
    // .hero__secondary > span:nth-of-type(3) {
    //     display: block;
    // }
}

@media screen and (min-width: 768px){
    .hero__primary {
        font-size: 8rem;
        font-weight: 400;
        height: 10.7rem;
        min-width: 82rem;
        
    }

    .hero__secondary >span:first-child {
        font-weight: 700;
    }

    .hero__secondary {
        font-size: 2.8rem;
        font-style: normal;
        display: flex;
        justify-content: center;

    }
}


/* @media screen and (orientation: portrait) {
    
} */