/* todo: animation transform y on nav and logo on hover */
/* todo: animation-fill-mode to backwards */
// tablet 768 x 1024

.hero {
    height: 100vh;
    background-image: url('../images/plants.png');
    background-size: cover;
    background-position: top;
}

.hero__arrow {
    margin-top: 5rem;
    font-size: 5rem;
    justify-content: center;
    display: inline-block;
    transform: rotate(-180deg);
    font-weight: 100;

    &:hover {
        cursor: pointer;
    }
}

.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FEFEFE;
    backface-visibility: hidden;
    text-align: center;
    animation: fadeIn 4s ease-out;

}

.hero__primary {
    font-family: 'Playfair Display';
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__secondary {
    display: inline-block;
    font-weight: 400;
    color: #999999;
}

.hero__secondary > span:first-child {
    // display: inline-block;
    color: #fefefe;
}

.hero__secondary > span:nth-child(2) {
    // display: inline-block;
    margin: 0 1rem;
}

@media screen and (min-width: 667px){
    .hero__primary {
        font-size: 4.5rem;
        font-weight: 400;
    }

    .hero__secondary {
        font-size: 1.6rem;
        font-style: normal;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .hero__primary {
        font-size: 8rem;
        font-weight: 400;
        height: 10.7rem;
        min-width: 82rem;
        
    }

    .hero__secondary >span:first-child {
        font-weight: 700;
    }

    .hero__secondary {
        font-size: 2.8rem;
        font-style: normal;
        display: flex;
        justify-content: center;

    }
}


/* @media screen and (orientation: portrait) {
    
} */