// todo: @mixin and @include DRY
// todo: hamburger and close buttons: cursor pointer
// min-height for tiny windows --> activate scroll

.navbar__container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;

    animation: fadeIn 4s ease-out;

    .navbar {
        margin: 3rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 100%;
        
        &--menu {
            list-style: none;
            min-width: 46rem;
            font-size: 1.6rem;

            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

.navbar--home {
    a{
        color: $font-color-white;
    }

    .navbar--menu {
        a:hover {
            box-shadow: 0 2px 0 rgba($font-color-white, 1);
            transition: box-shadow 0.3s ease-in-out;
        }
    }
}

.navbar--about {
    a {
        color: $font-color-grey;
    }

    .navbar--menu {
        a:hover {
            box-shadow: 0 2px 0 rgba($font-color-grey, 1);
            transition: box-shadow 0.3s ease-in-out;
        }
    }
}