// todo: @mixin and @include DRY
// todo: hamburger and close buttons: cursor pointer
// min-height for tiny windows --> activate scroll

// .mobile-navbar__container {
//     display: none;
// }

.navbar__container {
    // background-color: seagreen;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    animation: fadeIn 4s ease-out;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    
    &--about {
        .navbar__menu {
            &--item:hover {
                box-shadow: 0 2px 0 rgba($font-color-grey, 1);
                transition: box-shadow 0.3s ease-in-out;
            }
        
            &--link {
                color: $font-color-grey;
            }
        }
    }
    
    &--home {
        .navbar__menu {
            &--item:hover {
                box-shadow: 0 2px 0 rgba($font-color-white, 1);
                transition: box-shadow 0.3s ease-in-out;
            }
    
            &--link {
                color: $font-color-white;
            }
        }
    
        // .navbar--menu {
        //     .navbar__item {
        //         position: relative;
        //     }
    
        //     a::after {
        //         content: "";
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //         width: 3px;
        //         background-color: white;
        //         transform: scaleX(0);
        //         transition: transform 1s;
        //     }
    
        //     a:hover::after {
        //         transform: scaleX(1)
        //     }
        // }
    }

    .navbar__menu {
        list-style: none;
        min-width: 46rem;
        font-size: 1.6rem;
    
        display: flex;
        justify-content: space-between;
    
        &--link {
            text-decoration: none;
            text-transform: uppercase;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
}

.navbar__logo {
    svg {
        @include respond(tab-port) {
            fill: $font-color-white;
        }
    }
}