// todo: set background colors background-color: #fefefe;
// todo: clean code
// todo: min width for media queries

.projects__container {
    background-color: teal;
    font-size: 1.6rem;
    margin: 3rem;
    // width: 100%;
    
    .project {
        margin: 10rem;

        &--description {
            z-index: 1;
            
            h3 {
                font-size: 3rem;
                line-height: 4.5rem;
                margin-bottom: 1rem;
            }

            .u-box-shadow {
                background-color: $font-color-white;
                padding: 2.5rem;
                
                .project-card-footer {
                    display: inline-block;
                    width: 100%;

                    ul {
                        list-style: none;
                        float: left;
                        
                        li {
                            border: 1px solid $font-color-grey;
                            color: $font-color-grey;
                            display: inline-block;
                            padding: .3rem 1rem;
                            margin: 2.5rem 2.5rem 0 0;
                        }
                    }
    
                    svg {
                        float: right;
                        margin: 2.5rem 1rem 0 2.5rem;
                        right: 0;
                    }
                }
            }
        }
        
        &:nth-child(2) {
            display: flex;
            flex-direction: row-reverse;
    
            .project--image {
                margin-left: 6rem;
                right: 5rem;
            }

            .project--description {
                left: 5rem;
                .u-box-shadow {
                    box-shadow: -1.5rem 1.5rem 3rem rgba($font-color-black, 0.25);
                }
            }
        }
        
        &:not(:nth-child(2)) {
            .project--image {
                margin-right: 6rem;
                left: 5rem;
            }

            .project--description {
                right: 5rem;
                .u-box-shadow {
                    box-shadow: 1.5rem 1.5rem 3rem rgba($font-color-black, 0.25);
                }
            }
    
            h3 {
                text-align: right;
            }
        }

        @include clearfix;

        [class^="project--"] {
            position: relative;

            width: calc((100% - 6rem) / 2);
            float: left;
            
            img {
                width: 100%;
            }
        }
    }
}