.footer {
    position: relative
}

.hero {
}

.hero__container {
    align-items: center;
}

.hero__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.hero__title {
    /* width: 50%; */
    font-size: 80px;
    font-family: 'playfair display';
    color: #FEFEFE;
    font-weight: 400;
    align-items: center;
    /* flex-wrap: nowrap; */
}

.hero__subtitle {
    font-size: 28px;
    font-family: 'montserrat';
    color: #FEFEFE;
    font-style: normal;
    font-weight: 400;
}

.navbar {
    z-index: 1;
    position: relative;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    list-style: none;
    text-decoration: none;
}

.navbar__link {
    text-decoration: none;
    color: #FEFEFE;
}

/* a:link {
}

a:visited {
}

a:hover{
}

a:visited{
} */

.navbar__logo {
    /* todo: width and height is behaving like top and left properties for svg */
    width: 64px;
    height: 64px;
}    

.navbar__menu {
display: flex;
justify-content: space-between;
width: 75%;
}