.navbar__item {
    list-style: none;
}

.homePage {
    fill: FFFFFF;
    color: 6363FFFFFF63;
}

.aboutPage {
    fill: 636363;
    color: 636363;
}

.mobile {
    fill: FFFFFF;
    color: FFFFFF;
}