    $font-color-black: #1E1E1E;
    $font-color-grey: #636363;
    $font-color-white: #FEFEFE;
    $breakpoint-tablet: 768px;
    $breakpoint-desktop: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.inactive {
    display: none;
}

.active {
    display: inline-block;
}