// COLORS
$font-color-black: #1E1E1E;
$font-color-white: #FEFEFE;

$font-color-grey: #636363;
$font-color-grey-light: #b3b3b3;
$font-color-grey-dark: rgb(99, 99, 99);

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;